#header{
    width: 100%;
    padding-left:200px;
}

#header-masuk{
    margin-top: 10px;
    /* background-color: rgb(202, 202, 202); */
    width: 100%;
    padding: 10px;
    /* height: 50px; */
}

#header-keluar{
    margin-top: 10px;
    /* background-color: rgb(202, 202, 202); */
    width: 100%;
    padding: 10px;
    font-size: 20pt;
    /* height: 50px; */
}

#tabel-informasi table{
    width: 100%;
}

#tabel-item table{
    width: 100%;
    border-collapse: collapse;
    
}

#tanda-tangan{
    margin-left: 450px;
    text-align: center;
}

#tanda-tangan-admin{
    margin-left: 250px;
    text-align: center; 
    width: 200px;
    float : left ;
}

#tanda-tangan-user{
    width: 200px;
    /* margin-left: 450px; */
    text-align: center; 
    float : left ;
}

#header-laporan{
    width: 100%;
    text-align: center;
}

#laporan table {
    width: 100%;
    border-collapse: collapse !important;
    /* border: 1px solid black; */
}

#laporan table, td, th {
    border: 1px solid;
  }